﻿@section scripts{
    @Scripts.Render("~/bundles/app");    
}
<div class="page-header">
    <h1>Libreria en linea</h1>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Libros Disponibles</h2>

            </div>
            <div class="panel-body">
                <div class="progress" data-bind="visible: loading">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                    </div>
                </div>
                <ul class="list-unstyled" data-bind="foreach:books">
                    <li>
                        <strong><span data-bind="text: AuthorName"></span></strong>: <span data-bind="text: Title"></span>: <span data-bind="text: CategoryName"></span>
                        <small><a href="#" data-bind="click: $parent.getBookDetails">Ver Mas!</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <!-- ko if:detail() -->
    <div class="col-md-4">
        <!-- DEALLE DE LOS LIBROS-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Mas datos del Libro</h2>
            </div>
            <table class="table">
                <tr>
                    <td>Autor</td>
                    <td data-bind="text: detail().AuthorName"></td>
                </tr>
                <tr>
                    <td>Categoria</td>
                    <td data-bind="text: detail().CategoryName"></td>
                </tr>
                <tr>
                    <td>Titulo</td>
                    <td data-bind="text: detail().Title"></td>
                </tr>
                <tr>
                    <td>Año Publicacion</td>
                    <td data-bind="text: detail().Year"></td>
                </tr>
                <tr>
                    <td>Precio</td>
                    <td data-bind="text: detail().Price"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /ko -->
    <div class="col-md-5">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Ingreso de Libros</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addBook">
                    <div class="form-group">
                        <label for="inputAuthor" class="col-sm-2 control-label">Autor</label>
                        <div class="col-sm-10">
                            <select data-bind="options: authors, optionsText: 'Name', value: newBook.Author"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCategory" class="col-sm-2 control-label">Categoria</label>
                        <div class="col-sm-10">
                            <select data-bind="options: categories, optionsText: 'Name', value: newBook.Category"></select>
                        </div>
                    </div>
                    <div class="form-group" data-bind="with: newBook">
                        <label for="inputTitle" class="col-sm-2 control-label">Titulo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputTitle" data-bind="value: Title">
                        </div>

                        <label for="inputYear" class="col-sm-2 control-label">Año</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputYear" data-bind="value: Year">
                        </div>

                        <label for="inputPrice" class="col-sm-2 control-label">Precio</label>
                        <div class="col-sm-10">
                            <input type="number" step="any" class="form-control" id="inputPrice" data-bind="value: Price">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Listo</button>
                </form>
            </div>
        </div>
    </div>
    <!--Autores:-->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Autores Disponibles</h2>
            </div>
            <div class="panel-body">
                <div class="progress" data-bind="visible: loading1">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                    </div>
                </div>
                <ul class="list-unstyled" data-bind="foreach:authors">
                    <li>
                       <a href="#" data-bind="click: $parent.getAuthorDetails"><strong><span data-bind="text: Name"></span></strong></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>
    <!-- ko if:detailAuthor() -->
    <div class="col-md-4">
        <!-- DETALLE DE LOS AUTORES-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Mas datos del Autor</h2>
            </div>
            <table class="table">
                <tr>
                    <td>Autor</td>
                    <td data-bind="text: detailAuthor().Name"></td>
                </tr>
                <tr>
                    <td>Categoria</td>
                    <td data-bind="text: detailAuthor().BirthDay"></td>
                </tr>
                <tr>
                    <td>Titulo</td>
                    <td data-bind="text: detailAuthor().Description"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /ko -->
    <!--Categorias:-->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Categorias Disponibles</h2>
            </div>
            <div class="panel-body">
                <div class="progress" data-bind="visible: loading1">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">100% Complete</span>
                    </div>
                </div>
                <ul class="list-unstyled" data-bind="foreach:categories">
                    <li>
                        <a href="#" data-bind="click: $parent.getCategoryDetails"><strong><span data-bind="text: Name"></span></strong></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>
    <!-- ko if:detailCategory() -->
    <div class="col-md-4">
        <!-- DETALLE DE LOS CATEGORIAS-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Mas datos de la Categoria</h2>
            </div>
            <table align="center" class="table">
                <tr>
                    <td>Nombre</td>
                    <td data-bind="text: detailCategory().Name"></td>
                </tr>
                <tr>
                    <td>Descripcion</td>
                    <td data-bind="text: detailCategory().Description"></td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /ko -->
</div>